{% include plain.header.html %}

<!-- Sidebar -->
<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="{{ "/#intro" | absolute_url }}">Intro</a></li>
                <li><a href="{{ "/#feature" | absolute_url }}">Features</a></li>
                <li><a href="{{ "/getting-started" | absolute_url }}">Getting Started</a></li>
                <li><a href="{{ "/documentation" | absolute_url }}">Documentation</a></li>
            </ul>
        </nav>
    </div>
</section>

<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <section id="main" class="wrapper style1">
        <div class="inner">
            {{ content }}
        </div>
    </section>
</div>

{% include footer.html %}
